/* 
Prolog: style.css

Purpose: Allow consistent page styling on all pages. 
Preconditions: Included on all pages of the website.
Postconditions: CSS Styling on all the pages.
*/


/*Results Page */
.result {
	margin:20px 2%;
	background-color:#ECF0F1;
	padding:10px 2%;
	overflow:hidden;
}

.result img {
	width:22%;
	float:left;
	padding:10px 2%;
}

.result div {
	width:70%;
	padding:10px 2%;
	float:left;
}

.afternav {
	float:left;
	width:70%;
}

.addressp {
	text-transform:uppercase;
	font-size:11pt;
}

.phonep {
	text-transform:uppercase;
	font-size:11pt;
	
}

/*Above the fold for landing page*/
div.vert {
	text-align:center;
	color:#fff;
	width:50%;
	margin:0 auto 20% auto;
}


div.vert div {
	float:left;
	width:46%;
	padding:0 2%;
}

div.vert input[type=text] {
	width:100%;
	border-radius:5px;
}

div.vert select {
	margin-top:12px;
}

#scrolldown {
	color:#fff;
	text-align:center;
	width:100%;
	padding-top:200px;
}

#scrolldown p {
	padding-left:20px;
}

.chevron {
	width:100%;
	text-align:center;
	display:block;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	width: 0.45em;
	font-size:50pt;
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

select#soflow {
   -webkit-appearance: button;
   -webkit-border-radius: 5px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image:url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#fff, #FFF 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   overflow: hidden;
   padding: 12px 10px;
   margin-top:12px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 100%;
}

/*Checkbox Styling*/
.checkdiv {
	float:left;
	width:25%;
	margin-bottom:20px;
	border-radius:5px;
}

.checkdiv:hover {
	background-color:#ff5882;
	color:#fff;
}

.checkbox-custom {
	opacity:0;
	position:absolute;
}

.checkbox-custom, .checkbox-custom-label {
	display:inline-block;
	vertical-align:middle;
	margin:5px;
	cursor:pointer;
}

.checkbox-custom-label {
	position:relative;
	width:95%;
}

.checkbox-custom + .checkbox-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    border-radius:5px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #306cf2;
    color: #fff;
}

.checkbox-custom:focus + .checkbox-custom-label {
  outline: 1px solid #ddd; /* focus style */
}

/*Landing page above the fold*/
div.landing {
	display:block;
	width:100%;
	height:100vh;
	background:url(mainbg.jpg) no-repeat center center fixed;
	position:relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size:cover;
	-o-background-size:cover;
}

div.landing.bottom {
  background:#fff;;
  padding-top:50px;
}

/*Submit button styling for each page.*/
input[type="submit"] {
    padding:10px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px;
    margin-top:20px;
    margin-bottom: 20px; 
}

div#submitcenter {
	width:100%;
	display:inline-block;
	text-align:center;
}

/*Main header stylings for each page.*/
h1 {
  font-size: 32px;
  font-weight: 300;
  color:  #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size:24pt;
  font-weight:bold;
  text-transform:uppercase;
  margin:0;
  width:100%;
  color:#000;
}

/*Styling for bar under each h1 on newcharity, login.php, register.php, and passrecover.php*/
hr{
  color: #a9a9a9;
  opacity: 0.3;
}

/*Side filter bar on results page*/
nav {
    line-height:30px;
    height:300px;
    width:20%;
    float:left;
    padding:20px;
}


/*Dashboard*/
.dashcontainer {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	max-width:600px;
}

/*Specific Styling for inputs on all pages*/
input[type=text],input[type=password]{ 
  height: 39px;
  border-radius: 0px 5px 5px 0px;
  background-color: #fff; 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
  margin-bottom:10px;
}

/*Styling for icons used on login.php, register.php, and passrecover.php*/
#icon {
  display: inline-block;
  width: 30px;
  background-color: #ff5882;
  padding: 12px 7px;
  margin-left: 15px;
  border-radius: 4px 0px 0px 4px;
  color: white;
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  border: solid 0px #cbc9c9;
}

form{
  margin: 0 30px;
}

/*Remove square surrounding all forms.*/
fieldset {
  border:none;
}

/*Box surrounding the form on login.php */
.box {
  margin: 20px auto;
  width: 400px; 
  height: 470px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border: solid 1px #cbc9c9;
}

/*Box surrounding the form on register.php */
.registerbox {
  margin: 20px auto;
  width:  850px;
  height: 650px;
  border-radius: 8px/7px;
  background-color: #ebebeb;
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border: solid 1px #cbc9c9;
}

/*Box surrounding the form on passrecover.php */
.passrecoverbox {
  margin: 20px auto;
  width: 400px;
  height: 350px;
  border-radius: 8px/7px;
  background-color: #ebebeb;
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border: solid 1px #cbc9c9;
}

/*Box surrounding the form on changepassword.php*/
.passchangebox {
  margin: 20px auto;
  width: 400px;
  height: 450px;
  border-radius: 8px/7px;
  background-color: #ebebeb;
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border: solid 1px #cbc9c9;
}

/*Box surrounding the form on newcharity.php */
.newcharitybox {
  margin: 20px auto;
  width:  1050px;
  height: 1400px;
  border-radius: 8px/7px;
  background-color: #ebebeb;
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border: solid 1px #cbc9c9;

}

/*Used on register.php to allow inputs to be put in a row*/
.rows {
  display: inline-block;
  padding: 5px;
}

/*Used on changepassword.php, register.php, passrecover.php, and login.php to shift everything to the center*/
#shift {
	display:block;
	margin: 0 auto;
	text-align: center; 
}
/*Fix dropdown box and text area issue on newcharity.php so they are consistent with the inputs*/
#dropdowntextarea {
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  background-color: #fff;
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px;
  padding-left: 10px;
  margin-bottom:10px;

}
/*Used on the register page to fix phone display error*/
#phoneshift {
	margin-left:0px;

}
/*Page body, input, textarea, and select styling. Allow them all to be consistent.*/
body,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
  margin:0;
}

body, html {
	 min-width: 1100px;

}

